[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
torchvision = "*"
hydra-core = "*"
matplotlib = "*"
tqdm = "*"
esim-py = {file = "third_parties/esim_py-0.0.1-cp38-cp38-linux_x86_64.whl"}
pytest = "*"
yapf = "*"
black = "*"
mypy = "*"
pytest-cov = "*"
m2r = "*"
sphinx-rtd-theme = "*"
Sphinx = "==2.4.4"
pre-commit = "*"
pipfile = "*"

[requires]
python_version = "3.8"
